<html>

<body>
    <form action = "/contact_json" method = "post"> <!-- page2 address page -->
        welcome to {{content}} profile<br>    
        <p>Enter contact no:<input type = text name = "contact" placeholder="Enter your contact no"/></p>
        <p>Enter alternate contact no:<input type = text name = "altcontact" placeholder="Enter alt contact no"/></p>
        
        <p><input type = "submit" value = "Next Page" /></p>
     </form>
    <a href='/logout'>
        <button>Logout</button>
    </a>
</body>
</html>