<html>

<body>
    <form action = "/education_json" method = "post"> <!-- page2 address page -->
        welcome to {{content}} profile<br>    
        <p>Enter Primary institute:<input type = text name = "primary" placeholder="primary institute"/></p>
        <p>Enter secondary institute:<input type = text name = "secondary" placeholder="secondary institute"/></p>
        
        <p><input type = "submit" value = "submit and download .json file" /></p>
     </form>
    <a href='/logout'>
        <button>Logout</button>
    </a>
</body>
</html>